.btnImagen {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btnImagen img {
    border: 2px solid #454545;
    border-radius: 50%;
    width: 50px;
}

.backgroundList {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.menuDesplegable {
    position: absolute;
    top: 55px;
    right: -25px;
    z-index: 1000;
}

.menuDesplegable ul {
    list-style: none;
    width: 300px;
    box-shadow: 0 0 10px 0 #454545;
    border-bottom-left-radius: 10px;
    transition: 0.5s;
    background: #eee;
    overflow: hidden;
}

.menuDesplegable ul .static {
    text-align: center;
    padding: 5px;
}

.menuDesplegable ul .btn {
    padding: 5px 20px;
    text-align: left;
    transition: 0.5s;
    font-size: 1.1em;
}

.menuDesplegable ul .disabled {
    color: #a5a5a5;
}

.menuDesplegable ul .btn:hover:not(.disabled) {
    background: #293d61;
    color: #eee;
    padding-left: 30px;
    transition: 0.5s;
}

@media (max-width: 750px) {
    .menuDesplegable {
        position: fixed;
        top: 0;
        top: 59px;
        left: 0;
        right: 0;
    }

    .menuDesplegable ul {
        width: 100%;
        border-radius: 0;
        box-shadow: 0 10px 20px 10px #454545;
    }
}