.divButtons>div {
    display: flex;
}

.divButtons a {
    padding: 10px 10px;
    margin: 5px 10px;
    border-radius: 7px;
}

.divButtons a p {
    color: #c5c5c5;
    transition: 0.5s;
}

.divButtons a:hover {
    background: #c5c5c5;
    transition: 0.5s;
}

.divButtons a:hover p {
    color: #222;
    transition: 0.5s;
}

.button {
    padding: 5px;
    text-decoration: none;
}