header {
    background: #293d61;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 5px 25px;
    height: 58px;
    z-index: 10;
    position: sticky;
    top: 0;
}

.btnHome {
    padding: 5px;
    transition: 1s;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    width: 190px;
}

.btnHome a {
    text-decoration: none;
}

.btnHome h1 {
    transition: 0.5s;
    color: #c5c5c5;
    font-family: 'Sedgwick Ave', cursive;
}

.menuUser {
    width: 200px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}