.bodyContent {
    height: 100%;
    background: url('https://images.wallpaperscraft.com/image/palms_vector_art_118164_3840x2400.jpg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.divCompleteForm {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #c5c5c5c5;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 10px;
}

.divTituloForm {
    padding: 10px;
    width: 100%;
}

.divTituloForm h2 {
    margin-left: 25px;
    width: 100%;
    text-align: left;
}

.individualInput {
    background: #eee;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.individualInput i {
    margin: 5px;
}

.individualInput input {
    margin-left: 5px;
    outline: none;
    border: none;
    background: none;
    display: block;
    width: 350px;
    font-size: 1.3em;
}

.divForm form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.divForm button {
    background: #eee;
    border: none;
    margin: 10px;
    padding: 10px 40px;
    font-size: 1.3em;
    border-radius: 10px;
    transition: 0.5s;
}

.divForm button:hover {
    background: #ddd;
    transition: 0.5s;
}

.changeForm {
    text-align: center;
}

.divError {
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}