.bodyContent {
    padding: 50px;
    position: relative;
    height: auto;
}

.boardCreation {
    background: #00000093;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: flex-start;
    z-index: 5;
}

.cerrarBoardCreation {
    background: #00000050;
    position: absolute;
    height: 100%;
    width: 100%;
}

.btnCerrar {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.divBoardCreation {
    background: #c5c5c5;
    padding: 10px;
    margin: 10px;
    width: 400px;
    border-radius: 10px;
    position: relative;
}

.divName {
    padding: 5px;
}

.divName input {
    border: none;
    height: 25px;
    border-radius: 5px;
    padding: 0 5px;
    outline: none;
}

.divColorFondo {
    margin: 10px auto;
}

.divColorFondo ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    flex-flow: row wrap;
}

.divColorFondo ul li {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.imgBackground {
    background-size: cover;
}

.colorSelected {
    border: 2px solid #000;
}

.divColorFondo ul li:hover {
    box-shadow: 0 0 5px 1px #454545;
}

.divBotonAceptar {
    padding: 5px;
    height: 30px;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.divBotonAceptar p:nth-child(1) {
    color: red;
}

.divBotonAceptar p:nth-child(2) {
    display: inline;
    border-radius: 5px;
    padding: 2px 10px;
    transition: 0.2s;
}

.btnAceptarEnabled {
    background: #293d61;
    color: #eee;
}

.btnAceptarEnabled:hover {
    transition: 0.2s;
    background: #4868a7;
}

.divCancel {
    background: green;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.divBoards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: repeat(auto-fit, 100px);
    grid-gap: 10px;
    border-radius: 5px;
    padding: 10px;
    height: 95%;
    justify-content: center;
}

.board, .previewBoard {
    margin: 10px auto;
    background: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 100px;
    width: 100%;
    transition: 0.5s;
}

.board:hover, .previewBoard:hover {
    box-shadow: 0 0 10px 0 #454545;
    transition: 0.3s;
}

.board p {
    margin: 15px;
    color: #eee;
}

.boardPrincipal {
    justify-content: center;
    align-items: center;
    display: flex;
}

.boardPrincipal p {
    margin: 0;
    color: #293d61;
}